<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration
	xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console"
		class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>

	<appender name="async" class="UtilityFunctions.AsyncFileAppender">
		<param name="path" value="C:\\SRTemp\\SRTest.log" />
		<param name="threads" value="3" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss,SSS} %-6r [%15.15t] %-5p %30.30c %x - %m%n" />
		</layout>
	</appender>

	<category name="async">
		<level value="ERROR" />
		<appender-ref ref="async" />
	</category>

	<!-- Root Logger -->
	<root>
		<appender-ref ref="async" />
	</root>

</log4j:configuration>